@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Employee Attendance Management System</title>

    <link rel="stylesheet" href="~/Content/Login.css" />
    <link rel="stylesheet" href="~/Content/navbar.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css" rel="stylesheet" />
</head>
<body style="width: 100%; background-color: #fff;">
    <nav>
        <div class="nav_content">
            <div class="logo"><a href="@Url.Action("Index", "Home")">TimeVista</a></div>
            <label for="check" class="checkbox"><i class="ri-menu-line"></i></label>
            <input type="checkbox" name="check" id="check" />
            <ul>
                <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li><a href="@Url.Action("About", "Home")">About</a></li>
                <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                <li><a href="#login">Login</a></li>
            </ul>
        </div>
    </nav>

    <style>
        div .content {
            margin-left: 15rem;
        }
    </style>

    <div class="container">
        <div class="content">
            <div class="image">
                <img src="~/img/employeebg.jpg" alt="img">
            </div>
            <div class="login-box" id="login">
                <img src="~/img/tvlogo.png" />
                <h2>Login</h2>
                <form method="post" action="@Url.Action("PerformLogin", "Home")">
                    <input type="text" name="username" placeholder="Username" required />
                    <input type="password" name="pwd" placeholder="Password" required />
                    <button type="submit" name="login">Sign In</button>
                </form>
               
            </div>
        </div>
    </div>
</body>
</html>
