@model TimeVista2._0.Models.tbl_department

@{
    ViewBag.Title = "Create Department";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Assuming you have a layout file for consistent design
}

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Create Department</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(model => model.department_id, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.department_id, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.department_id, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.department_name, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.department_name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.department_name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.status, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.status, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.created_at, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.created_at, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.created_at, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group text-right">
                        <button type="submit" class="btn btn-primary">Create</button>
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-secondary" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
