@model TimeVista2._0.Models.tbl_attendance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbl_attendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.employee_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.employee_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.shift)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.shift)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.check_in)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.check_in)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.in_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.in_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.check_out)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.check_out)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.out_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.out_status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_at)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
